*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Rubik', sans-serif;
}

header nav{
position: fixed;
top: 20px;
right: 50px;
}

header nav ul{
  display: flex;
  list-style: none;
}

header nav ul li{
  margin-left: 40px;
}

header nav ul li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 5px 3px rgba(0, 0, 0, .5);
}

header nav ul li a:hover{
  box-shadow: 0 8px 6px rgba(0, 0, 0, .5);
}

header nav ul li a:active{
  border: 1px solid black;
  background-color: lightgray;
  box-shadow: none;
}

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxshoes{
  width: 50%;
}

section h2{
  text-transform: uppercase;
  font-size: 4vw;
  text-align: center;
}

section img{
  width: 100%;
}


#shoes1{
  background-color: red;
  color: yellow;
}

#shoes2{
  background-color: green;
  color: yellow;
}

#shoes3{
  background-color: yellow;
  color: green;
}